<h2>For Countries</h2>
<hr>

<div class="row">
  <div class="col">
    <form (ngSubmit)="search()" action="" autocomplete="off">
      <input
        [(ngModel)]="term"
        class="form-control" type="text" name="term" placeholder="Searching country...">
    </form>
  </div>
</div>


<hr>
<div *ngIf="isError" class="alert alert-danger">
  Not found {{term}}
</div>

<div *ngIf="!isError" class="row">
  <div class="col">
    <table *ngIf="countries.length > 0" class="table table-hover">
      <thead>
      <tr>
        <th>#</th>
        <th>Flag</th>
        <th>Name</th>
        <th>Population</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let country of countries; let i = index">
        <td>{{i + 1}}</td>
        <td>
          <img class="small-flag" src="{{country.flag}}" alt="">
        </td>
        <td>{{country.name}}</td>
        <td>{{country.population | number}}</td>
        <td>
          <a [routerLink]="['/country', country.alpha2Code]">See...</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
